.itemlist {
	@include grid-container;
	margin-bottom: 15px;

	dl {
		// border-top: 1px dotted #eee;
		// border-right: 1px dotted #eee;
		background-color: #fff;
		box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
		
		margin-bottom: 10px;
		
		@include grid-column(2, ( columns: 4, gutter: 10px, ) );
		@include grid-media($mobile) {
			@include grid-column( 4, ( columns: 12, gutter: 10px, ) );
		}
		@include grid-media($desktop) {
			@include grid-column( 3, ( columns: 12, gutter: 10px, ) );
		}
		/*
		@include grid-media($wide) {
			@include grid-column( 2, ( columns: 10, gutter: 10px, ) );
		}
		*/
	}

	dt {

		background-color: #f0f0f0;

		// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
		@include thumbnail(4, 3);
		// @include thumbnail(1,1);

		// https://codepen.io/KristinB/pen/tdKvL
		// Size of image thumbnail must be <= w/h max - S Hadi
		span > img {
			max-width: none;
			top: -100%;
			right: -100%;
			bottom: -100%;
			left: -100%;
			display: block;
			min-width: 100%;
			min-height: 100%;
			margin: auto;
			position: absolute;			
		}
	}

	dd {
		padding: 10px;
	}
}