{% extends "main.twig" %}
{% block pagetitle %}{% trans "Signup" %} - Olelang.com{% endblock %}
{% block header_include %}<meta name="robots" content="noindex">{% endblock %} 
{% block bodyclass %}user{% endblock %}

{% block header %}
	<div class="wrap" style="text-align: center;">
		<a href="{{ path_for('homepage') }}" class="site-logo"><abbr title="{% trans "Lelang Online - Olelang.com" %}"><img src="/img/logo.png" /></abbr></a>
	</div>
{% endblock %}

{% block content %}
	<div class="wrap" style="padding: 75px 0;">
		<div class="w_social">&nbsp;</div>
		<div class="w_email">
			<h2>{% trans "Activation invalid" %}</h2>  
			<br>
			<p>{% trans "Activation link not valid or already activated." %}<p>
			<br />
		</div>
	</div>

{% endblock %}