/*
Project: Projct Name
Project URI: http://projecturi
Author: HTMLIA
Author URI: http://www.htmlia.com
Description: Base Bourbon SASS
Version: 1.0.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Normalize & Bourbon Setting
2. Layout
3. Content
4. Media
	4.1 Captions
	4.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0. Custom Fonts
   Change base/base for base font.
--------------------------------------------------------------*/
// @import 'https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,400i,700,700i';

// Suggested for Japanese Font
// @import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';
// @import 'notosans';
// @import "notosansjp";

/*--------------------------------------------------------------
1. Normalize & Bourbon Setting
--------------------------------------------------------------*/
@import "normalize";
@import "mixins";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "mixin/mixin";
@import "base/base";


@import "site";
@import "component/header";
@import "component/footer";
@import "component/breadcrumb";
@import "component/flashes";
@import "component/autohide";
@import "component/user";
@import "component/datepick";
@import "component/form";
@import "component/itemlist";

@import "component/dashboard_list";

@import "section/home";
@import "section/dashboard";
@import "section/upload";