{% extends "main.twig" %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<section>
		<h1 class="page-title">Change Password</h1>  
		<form action="" method="post" class="form">
			<fieldset>
				{% if msg %}
					<div class="flash-{{ msgclass }}">
						<span>{{msg | raw }}</span>
					</div>        
				{% endif %}
				{% if msgclass != 'success' %}
					<p>
					  <label for="new_password" class="r">New Password</label>
					  <input placeholder="New password" name="new_password" type="password" class="auto" size="30" value="" />
					</p>
					<p>
					  <label for="new_password_retype" class="r">Password retype</label>
					  <input placeholder="Retype new password" name="new_password_retype" type="password" size="30" class="auto" value="" />
					</p>
					<p>
						<label>&nbsp;</label>
					  <input type="submit" name="submit" value="Change Password">
					</p>
				{% endif %}
			</fieldset>
		</form>
	</section>
{% endblock %}
{% block aside %} 
	<aside role="complementary">
		<section>
			<ul>
				<li><a href="/profile">{% trans "Profile" %}</a></li>
				<li class="active"><a href="/profile/password">{% trans "Change Password" %}</a></li>
			</ul>
		</section>
	</aside>
{% endblock %}

	