.site-header {
	position: relative;
	background-color: #fff;
	@include grid-container;
	border-bottom: 1px dashed rgba(#F30,0.1);

}

$topnav-height: 40px;
$header-height: 60px;

.topnav {
	line-height: $topnav-height;
	font-size: 12px;
	font-size: normal;
	background-color: rgba(#999999,0.05);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
}

.site-title {
	display: none;
	@include grid-media($tablet) {
		font-size: 13px;
		display: inline-block;
		line-height: $topnav-height;
		width: auto;
		margin: 0 0 0 10px;
		a {
			color: #777;
		}
	}
}

// @import "menu";
.nav-user {
	text-align: right;
	@include grid-media($tablet) {
		float: right;
	}
	li {
		display: inline-block;
		a {
			text-decoration: none;
			line-height: $topnav-height;
			padding: 0 5px;
			font-size: 14px;
			i {
				font-size: 1.25em;
			}
			span {
				display: none;
				@include grid-media($tablet) {
					display: inline;
				}
			}

		}

		&.nav-add a {
			color: #F30;
			font-weight: bold;
		}
	}
}

.header-content {
	@include grid-media($tablet) {
		margin: 20px 0 10px 0;
	}
}

.site-logo {
	position: absolute;
	top: 7px;
	left: 5px;
	width: auto;
	vertical-align: middle;
	margin-left: 10px;
	img { width: auto; height: 32px; }

	@include grid-media($tablet) {
		position: relative;
		top:0;
		left: 0;
		img { height: 50px; }
	}
}

form.search-bar {
  ///////////////////////////////////////////////////////////////////////////////////
  // $base-spacing: 1.5em !default;
  // $base-border-color: gainsboro !default;
  // $base-line-height: 1.5em !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: 5px 0 0  10px;
  max-width: 70%;
  @include grid-media($tablet) {
		margin: 5px 0 0 20px;
  }

  input[type=search] {
    appearance: none;
    background-color: white;
    border: 1px solid $base-border-color;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    transition: border-color;
    width: 100%;
  }

  button[type=submit] {
    @include position(absolute, 0 0 0 null);
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}

/*
.search-form {
	display: inline-block;
	margin: 5px 0 0  10px;
	@include grid-media($tablet) {
		margin: 5px 0 0 20px;
	}

	input {
		display: inline-block;
		width: auto;
		font-size: 16px;
		vertical-align: top;
		margin:0;
		&.s {
			padding: 7px 10px;
			color: #000;
			max-width: 200px;
			@include grid-media($tablet) {
				max-width: 320px;
			}
		}
	}
	button {
		vertical-align: top;
		display: inline-block;
		margin:0 0 0 -10px;
	}
}

.popular-search {
	font-size: 13px;
	line-height: 1.5em;
	color: #999;
}
*/

.sub-menu {
	float: right;
	line-height: 45px;
	color: #999;
	margin-right: 10px;
	a {
		color: #333;
		color: #f60;
		padding: 0;
		margin: 0 5px;
		i {
			font-size: 16px;
		}
		span {
			display: none;
		
			@include grid-media($desktop) {
				display: inline-block;

				color: #f60;
			}
		}
	}
}