{% extends "main.twig" %}
{% block pagetitle %}{% trans "Forgot Password" %} - Olelang.com{% endblock %}
{% block header_include %}<meta name="robots" content="noindex">{% endblock %} 
{% block bodyclass %}user{% endblock %}

{% block header %}
		<div class="wrap" style="text-align: center;">
			<a href="{{ path_for('homepage') }}" class="site-logo"><abbr title="{% trans "Lelang Online - Olelang.com" %}"><img src="/img/logo.png" /></abbr></a>
		</div>
{% endblock %}

{% block content %}
	<h1 class="page-title">{% trans "Forgot Password" %}</h1> 
	<p class="sub-page-title">
		{% trans "We will send the password reset link to your email" %}.
	</p>
		<form action="" method="post" class="form forgot">
			<fieldset>
				{% if msg %}
					<div class="flash-error">
						<span>{{msg | raw}}</span>
					</div>        
				{% endif %}
				<p>
					<label for="email">{% trans "Username/Email" %}</label>
					<input placeholder="Username or Email address" name="email" size="27" type="text" class="auto" autofocus />
				</p>
				<br/>
				<p>
					<input type="submit" name="submit" value="Send Password Reset Link">
				</p>
				<br>
				<p>
					<a href="/login">{% trans "Back to Login" %}
				</p>
			</fieldset>
		</form>
		<br>
{% endblock %}


	