{% extends "main.twig" %}

{% block bodyclass %}class="login nosidebar"{% endblock %}

{% block content %}
	<h1 class="page-title">Reset Password</h1> 
	<br>
	<p><strong>Reset Password Link</strong> has been sent to your email</p>  
	<p>Please check your email to continue reset your password. </p>
	<p>The password reset link will expired in 15 minutes</p>
	<br>
	<br>

{% endblock %}

{% block footer_include %}{% endblock %}

	