{% extends "main.twig" %}
{% block pagetitle %}{% trans "Password Resetted" %} - Olelang.com{% endblock %}
{% block header_include %}<meta name="robots" content="noindex">{% endblock %} 
{% block bodyclass %}class="login nosidebar"{% endblock %}

{% block content %}
	<h1 class="page-title">Reset password completed</h1> 
	<br>
	<p>Your password has been reset.</p>
	<p>Please <a href="/login">login</a> with new password into your account.</p>

	<br>
	<br>
	<br>
	<br>
	
	<br>
{% endblock %}
