{% extends "main.twig" %}
{% block bodyclass %}home{% endblock %}
{% block sitedesc %}
	Sample skeleton of Slim Framework using ezSql (library used by WordPress as wpdb)	
{% endblock %}

{% block content %}
		<article class="container">
			<section>
				<h1>Slim Framework 3 Skeleton</h1>
				<p>
					This is the sample of slim skeleton with ezSql (database library used by WordPress as wpdb)
				</p>
			</section>
			<section class="level">
				<h2>Article 1</h2>
				<img src="https://storage.googleapis.com/breederkoi/item/1680/1767/large/gFvECzoG.jpg" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor erat eget congue aliquam. Nulla accumsan ante vel enim vulputate, in rutrum sem faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin urna est, luctus non tincidunt auctor, venenatis eu libero. Nunc risus eros, imperdiet eget libero in, porttitor tempus turpis. Proin consectetur ante ac diam tincidunt, vel eleifend leo egestas. </p>

			</section>
			<section class="level">
				<h2>Article 2</h2>
				<img src="https://storage.googleapis.com/breederkoi/item/1684/1771/large/8cr6KBln.jpg" />
				<p>Morbi semper, massa at porta imperdiet, magna urna bibendum est, id facilisis neque mauris id nibh. Nullam nibh metus, placerat vel eleifend a, ornare quis turpis. Proin semper libero sed pretium tempor. Fusce laoreet auctor mi, vitae aliquet eros tincidunt et. Aenean vel odio quis lorem feugiat rhoncus at a purus. Sed quis consequat urna. Cras ut mi et urna dictum sollicitudin. Phasellus euismod lorem lacinia ligula faucibus, sed auctor tellus ultricies.</p>
			</section>
			<section class="level">
				<h2>Article 3</h2>
				<img src="https://storage.googleapis.com/breederkoi/item/1110/1189/large/eSAqzE8s.jpg" />
				<p>Morbi semper, massa at porta imperdiet, magna urna bibendum est, id facilisis neque mauris id nibh. Nullam nibh metus, placerat vel eleifend a, ornare quis turpis. Proin semper libero sed pretium tempor. Fusce laoreet auctor mi, vitae aliquet eros tincidunt et. Aenean vel odio quis lorem feugiat rhoncus at a purus. Sed quis consequat urna. Cras ut mi et urna dictum sollicitudin. Phasellus euismod lorem lacinia ligula faucibus, sed auctor tellus ultricies.</p>
			</section>
		</article>
{% endblock %}